.mainContainer {
    height: 1000px;
}

.title {
    border: 5px solid black;
    padding-top: 75px;
}

.firstContainer {
    height: 500px;
    display: block;
}

.recommend {
    /*position: relative;*/
    /*top: 75px;*/
    /*padding-top: 75px;*/
    display: inline-block;
    background-color: #a690be;
    width: 100%;
    height: 500px;
    color: white;
    text-align: center;
    align-content: center;
}

/*.example {*/
/*    border: 5px solid black;*/
/*    width: 100%;*/
/*}*/


.recommendCategory1 {
    display: grid;
    float: left;
    border: 5px solid black;
    width: 30%;
    height: 100%;
    /*margin: 10px;*/
    /*align-content: center;*/
    /*grid-template-columns: repeat(3, 1fr); !* 3개의 열을 가진 그리드로 설정*!*/
}

.recommendButton {
    /*!*padding-top: 80px;*!*/
    display: grid;
    /*!*float: right;*!*/
    border: 5px solid black;
    /*width: auto;*/
    /*height: 170px;*/
    margin: 5px;
    /*align-self: center;*/
    color: black;
    /*align-content: center;*/
}

.recommendCategory2 {
    border: 5px solid white;
    display: inline;
    float: right;
    /*align-content: center;*/
    width: 70%;
    height: 100%;
}

.recommendContent1 {
    border: 5px solid white;
    display: inline-grid;
    width: 30%;
    height:95%;
    margin: 10px;
}

.recommendContent2 {
    border: 5px solid black;
    /*width: 100%;*/
    height: 100%;

}

.secondContainer {
    height: 300px;
}

.secondContainerContent {
    /*display: inline-grid;*/
    border: 3px solid black;
    width: 100%;
    height: 100%;
    align-content: center;
}

.RandomContainer {
    /*position: relative;*/
    /*float: left;*/
    /*bottom: 10px;*/
    /*right: 10px;*/
    border: 5px solid black;
    background-color: #aac4f6;
    width: 100%;
    height: 100%;
    color: white;
    /*display: inline-grid;*/
    align-content: center;
}

.RandomContent {
    border: 5px solid black;
    display: inline-grid;
    width: 23%;
    height: 90%;
    /*padding: 5px;*/
    margin: 10px;
    align-content: center;
}

/*.SearchByAgeContainer {*/
/*    height: 300px;*/
/*}*/

/*.SearchByAge {*/
/*    !*position: relative;*!*/
/*    float: right;*/
/*    !*bottom: 10px;*!*/
/*    left: 10px;*/
/*    background-color: #d96060;*/
/*    color: white;*/
/*    width: 50%;*/
/*    height: 300px;*/

/*}*/

.thirdContainer {
    height: 300px;
}

.RestaurantMain {
    /*position: relative;*/
    /*display: flex;*/
    bottom: 10px;
    background-color: #0e2868;
    color: white;
    width: 100%;
    height: 300px;
    padding: 10px;
}

.RestaurantCategory {
   border: 5px solid black;
   width: 100%;
   height: auto;
}

.RestaurantContent {
    display: inline-grid;
    width: 32%;
    height: 160px;
    border: 5px solid black;
    background-color: #f0f5fe;
    color: black;
    margin: 5px;
    align-content: center;
}
